aniso8601==3.0.2
cpca==0.4.1
Django==2.2.13
django-cors-headers==2.5.2
django-extensions==2.1.6
django-filter==2.1.0
djangorestframework==3.9.4
drf-extensions==0.5.0
graphene==2.1.3
graphene-django==2.2.0
graphql-core==2.1
graphql-relay==0.4.5
jieba==0.39
jsonfield==2.0.2
Markdown==3.0.1
numpy==1.16.3
pandas==0.24.2
progress==1.5
promise==2.2.1
psycopg2==2.7.7
psycopg2-binary==2.7.7
python-dateutil==2.8.0
python-memcached==1.59
pytz==2018.9
Rx==1.6.1
scikit-learn==0.20.3
scipy==1.2.1
singledispatch==3.4.0.3
six==1.12.0
sklearn==0.0
